@import './_colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	font-family: 'Outfit', sans-serif;
}

.box {
	margin: 1em;
	border-radius: 25%;
	&-top {
		&-img {
			width: 50%;
			height: 50%;
			border-radius: 25%;
		}
	}
	&-bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}
}